/*General*/
html,
body {
    height: 100%;
    width: 100%;
}
/*Home*/
#home {
    background: url("../images/bg-1.jpg") no-repeat center center;
    /*background-image: url("../images/bg-1.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*-webkit-filter: grayscale(100%);*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}